
.container {
    margin-left: 20px;
    padding-top: 90px;
    margin-right: 20px;
    height: calc(100vh - 120px); 
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    }
    @import 'ngx-toastr/toastr';
    @import 'ngx-toastr/toastr-bs5-alert';